body {
    background-color: #778899;
}

header {
    margin: 20px 0 10px 0;
    width: 450px;
}

h1 {
    color: white;
    font-size: 60px;
    text-indent: 40px;
    height: 65px;
}

nav {
    text-align: end;
    font-size: 40px;
    position: relative;
    background-color: black;
    top: -99px;
    height: 110px;
    z-index: -1;
}

nav ul  {
    padding: 10px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#header1 {
    display: flex;
    flex-wrap: wrap;
    text-indent: 50px;
}

#header2{
    text-indent: 50px;
}

#about {
    font-size: 50px;
    color: #00008B;
    width: 50px;
}

#p1 {
    font-size: px;
}

#work {
    font-size: 50px;
    color: #00008B;
    width: 50px;
}

#contact {
    font-size: 50px;
    color: #00008B;
    width: 50px;
}

@media screen and (max-width: 1222px) {
    nav ul{
        padding: 0;
        text-align: center;
        width: 50px;
    }
  }
  